body{
    background-image: url(images/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    margin: auto;
}



table.sport{
	height: auto;
}
table.sport,table.sport td, table.sport th {
	border: 1px solid #000000;
}
table.sport td.left {
    text-align: left;
}
table.sport td{
    text-align: center;
}
table.sport td, table.sport th{
    margin: 2px 5px;
}





table.pics {
    height: auto;
}
table.pics tr.header{
    background-image: url(images/back.jpg);
    background-size: contain;
    color: white;
    text-decoration: solid;
    text-align: center;
    font-family: sans-serif;
}
table.pics tr.pic {
    padding: 10px;
    width: 120px;
    align-items: center;
}
table.pics tr.note{
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
    text-align: center;
    padding: 5px 10px;
}



table.text {
    padding: 5px 5px;
    width: 60%;
}
table.text td.left, table.text th.left{
    text-align: left;
}